@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background: linear-gradient(43deg, #202645 0%, #463451 46.00%, #452638 100%);

}
#containerLOG{
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0.5px #664d76;
    background-color: #070709;
    gap: 25px;
}

#dv{
    width: 60px;
    justify-content: center;
    display: flex;
}



#campos{
    background-color: #121264;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#tema{
    border-radius: 15px;
    background-color: #0b7f7f;
}



#degrade2{
    width: 300px;
    height: 270px;
    position: relative;
}

.texts{
    color: rgb(165, 130, 192);
    font-size: 11px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    font-family: DM Sans;
    margin-top: 3px;
}

.texts:hover{
    color: rgb(180, 168, 189);
}

form{
    justify-content: center;
    display:grid;
    height: 25vh;
    width: 300px;
    height: 200px;
}

input{
    color:#ffffff;
    font-size: 12px;
    border-radius: 7px;
    border: none;
    width: 180px;
    height: 25px;
    background: linear-gradient(43deg, #202645 0%, #463451 46.00%, #452638 100%);
}

#botao{
    cursor: pointer;
    width: 184px;
}

#botao:hover{
    color: rgb(165, 130, 192);
}

.titulo{
    margin: 0px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 12px;
    color: rgb(189, 172, 172);
}

.digitar{
    background: #2c2c2e;
    color: rgb(109, 106, 112);
    font-family: DM sans;
}

#register{
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: DM Sans;
    font-weight:700;
    font-size: 28px;
    text-align: center;
    color: aliceblue;
    margin-top: 0;
        
}
p{
    margin: 0;
}

.containerLOG3{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.itens{
    display: flex;
    flex-direction: column;
    font-family: DM sans;
    color: rgb(189, 172, 172);
    font-size: 12px;
}

.containerLOG4{
    display: flex;
    align-items: center;
    gap: 10px;
}

.choose{
    display: flex;
    align-items: center;
    gap: 5px;
}

.radios{
    width: auto;
    margin: 0px;
}

.labels{
    color: rgb(109, 106, 112);
    font-family: DM sans;
    font-size: 12px;
}

#gen{
    color: rgb(109, 106, 112);
    font-family: DM sans;
    font-size: 12px;
    font-weight: bold;
}

#check{
    display: flex;
    justify-content: center;
}

.checkbox{
    width: auto;
}

.checkboxs{
    display: flex;
    align-items: center;
    gap: 5px;
}

#log5{
    justify-content: center;
}

#containerLOG2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#log1{
    display: flex;
    justify-content: center;
}

#region{
    border-radius: 7px;
    border: none;
    width: 180px;
    height: 25px;
}
